.dark-primary-color    { background: #FFA000; } /* amber */
.default-primary-color { background: #FFC107; } /* yellow */
.light-primary-color   { background: #FFECB3; } /* light yellow */
.accent-color          { background: #E91E63; } /* hot pink */
.primary-text-color    { color: #212121; } /* black */
.secondary-text-color  { color: #757575; } /* dark gray */
.divider-color         { border-color: #BDBDBD; } /* light gray */
.accent-color-two       {color: #03A9F4;} /* blue */
.white-text-color       {color: #FFFFFF;}

.heading-font {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
}

body {
  font-size: 20px;
  border-color: #FFA000;
  font-family: 'Raleway', sans-serif;
}

header {
  display:flex;
  align-items: center;
  background-color: #FFA000;
  border-bottom: 10px solid #FFC107;
  height: 70px;
  width: 100%;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

header img {
  height: 50px;
}
h1 {
  display:inline-block;
  padding: 10px;
}

nav {
  position: absolute;
  right: 15px;
  margin-top: 5px;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

li a:hover {
  color: #03A9F4;
}

/*Navigation */

.fullscreen-nav {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.fullscreen-nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.about-nav {
  height: 25%;
  background-color: #E91E63;
  text-align: center;
  padding-top: 50px;
}

.work-nav {
  height: 25%;
  background-color: #03A9F4;
  text-align: center;
  padding-top: 50px;
}

.contact-nav {
  height: 25%;
  background-color:#FFC107;
  text-align: center;
  padding-top: 50px;
}

section.hero {
  height: 500px;
}
.hero h1 {
  width: 100%;
}

#clouds article {
  margin-top: -100px;
}
.hero h2 {
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FFC107;
  font-size: 30px;
  font-weight: bold;
}

.hero h3 {
  margin-bottom: 10px;
}

/*ABOUT PAGE STYLING*/

section.about {
  background-color: #E91E63;
  color: #FFFFFF;
  height: auto;
  margin: auto;
  text-align: center;
  width: 100vw;
}

.about h1 {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}

.intro img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 5px solid #FFFFFF;
}

.about h2 {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.about h3, h4 {
  color: black;
}
.intro div {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.experience p {
  color: black;
  text-align: center;
  margin: 10px 50px 10px;
  width: 500px;
}

.about li {
  display: inline-block;
  text-align: center;
  width: 300px;
  margin: auto;
  color: black;
}

/*PROJECTS PAGE STYLING*/

section.projects {
  background-color: #03A9F4;
  color: #FFFFFF;
}

.contact article{
  padding-bottom: 50px;
  text-align: center;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  height: 30px;
  border-top: 5px solid #FFC107;

}

li img{
    width:30px;
    height: 30px;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.visible {
  visibility: visible;
  height: 500px;
  width: 100vw;
}



section.experience {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 50px;
}
.experience h3, h4 {
  color: #FFFFFF;
}
.experience aside {
  width: 40%;
  display: inline-block;
}

.experience img {
  height: 200px;
  width: 300px;
  margin-bottom: 40px;
}

.experience article {
  display: inline-block;
  text-align: left;
}

.experience article p {
  width: 400px;
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
}

section.hidden.fullscreen-nav.visible {
  background-color: #03A9F4;
}
