/*Color Palette:
Deep Green: #2C5214;
Plants: #5C821A;
New Growth: #C6D166;
*/
body {
  background-color: #EFEFEF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #A9A9A9;
}

header {
  display:flex;
  align-items: center;
  background-color: #EFEFEF;
  border-bottom: 5px solid #0F1B07;
  height: 70px;
  width: 100%;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

h1 {
  display:inline-block;
  padding: 10px;
}

h2 {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 30px;
  color: #0F1B07;
  font-family: 'Lato', sans-serif;
  width: 100px;
  height: 100px;
  float:left;
  margin-top: 15px;
  margin-left: 15px;
}

h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

h4 {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: black;
}

h5 {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  color: #5C821A;
}

header li {
  display: inline-block;
  padding: 10px;
  margin: 15px 0;
  font-size: 20px;
  color: black;
  text-align: center;
  width: 100px;
  height: 35px;
}

nav {
  margin-left: auto;
}

li a {
  color: #A9A9A9;
  text-decoration: none;
}

li a:hover {
  color: #5C821A;
}

.hero {
  width: 100%;
  height: 350px;
  border-bottom: solid 5px #0F1B07;
  background-color: black;
  position: relative;
}

.hero img {
  height: 350px;
  position: absolute;
  right:0;
  bottom: 0;
}

.hero aside {
  height: 300px;
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  color: white;
  text-align: center;
}

section.projects {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
}

#wrapper .text {
  position: relative;
  visibility: hidden;
  bottom: 100px;
}

#wrapper:hover .text {
  visibility:visible;
}

.three-col {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 50px 40px;
  color: #EFEFEF;
}

.three-col img {
  border-radius: 25%;
  border: 5px solid black;
  height: 275px;
  width: 210px;
}

section.about {
  background-color: #5C821A;

}

.two-col {
  vertical-align: top;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
  color: white;
}

section.bio {
  display: inline-block;
  width: 350px;
}

.profile-picture img {
  border-radius: 50%;
  border: 5px solid #A9A9A9;
  height: 150px;
  width: 150px;
  margin: 0 80px;
}

.about-info p {
  padding: 10px 0;
}

section.experience-skills {
  display: inline-block;
  width: 350px;
  vertical-align: top;
  margin-left: 75px;
  text-align: center;
}

.experience-skills ul {
  list-style: circle inside;
  display: inline-block;
}

.skills {
  padding: 5px;
}
.experienc p {
  margin-bottom: 5px;

}

.resume {
  color: black;
  margin-top: 20px;
  text-align: center;
}

section.contact {
  background-color: black;
  color: #EFEFEF;
}

.contact article{
  padding-bottom: 50px;
  text-align: center;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  color: #EFEFEF;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}

footer li {
  padding: 0 10px;
  display: inline-block;
}

footer img{
    width:30px;
    height: 30px;
}
