.dark-primary-color    { background: #FFA000; } /* amber */
.default-primary-color { background: #FFC107; } /* yellow */
.light-primary-color   { background: #FFECB3; } /* light yellow */
.accent-color          { background: #E91E63; } /* hot pink */
.primary-text-color    { color: #212121; } /* black */
.secondary-text-color  { color: #757575; } /* dark gray */
.divider-color         { border-color: #BDBDBD; } /* light gray */
.accent-color-two       {color: #03A9F4;} /* blue */
.white-text-color       {color: #FFFFFF;}

.heading-font {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
}

/*body {
  font-size: 20px;
  border-color: #FFA000;
  font-family: 'Raleway', sans-serif;
}

header {
  display:flex;
  align-items: center;
  background-color: #FFA000;
  border-bottom: 10px solid #FFC107;
  height: 70px;
  width: 100%;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

h1 {
  display:inline-block;
  padding: 10px;
}*/
/*
nav {
  position: absolute;
  right: 15px;
  margin-top: 35px;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.visible {
  visibility: visible;
  height: 500px;
  width: 100vw;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

li a:hover {
  color: #03A9F4;
}

.fullscreen-nav {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.fullscreen-nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.about-nav {
  height: 15%;
  background-color: #E91E63;
}

.work-nav {
  height: 15%;
  background-color: #03A9F4;
}

.contact-nav {
  height: 15%;
  background-color:#FFC107;
}


li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

li a:hover {
  color: #03A9F4;
}*/

.projects h2 {
  color: #03A9F4;
}

projects.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-bottom: solid #03A9F4 5px;
  background-color: #FFFFFF;
  padding-top: 50px;
}

.projects aside {
  width: 40%;
  display: inline-block;
}

.projects section img {
  height: 200px;
  width: 300px;
  margin-bottom: 40px;
}

.projects article {
  display: inline-block;
}

.projects article p {
  width: 400px;
  font-size: 16px;
  margin-top: 10px;
}

.projects button {
  color: white;
  border: solid 1px black;
  background-color: #FFC107;
  font-size: 12px;
}

button.source {
  margin-left: 100px;
  margin-right: 20px;
}

.projects section li {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 100px;
  height: 35px;
  margin-top: 10px;
}
